@model Party_Invites.Models.GestResponse

@{
    ViewBag.Title = "Register";
}

<br />
<div class="panel panel-success">

    <div class="  panel-heading text-center  ">
        <h2>Register</h2>
    </div>

    <br />  <br />

    <div class="panel panel-body ">
        @using (Html.BeginForm("RsvpForm", "Home"))
        {
            @Html.ValidationSummary()

            <div class="form-group">
                <label>Your name :</label>
                @Html.TextBoxFor(x => x.Name, "", new { @class = "form-control " })
            </div>

            <div class="form-group">
                <label>Your Mail  :</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control " })
            </div>

            <div class="form-group">
                <label>Your Phone  :</label>
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control " })
            </div>


            <div class="form-group">
                <label>Will you attend ?   </label>
                @Html.DropDownListFor(x => x.WillAttend, new[]
            {
                new SelectListItem(){Text="Yes I'll be there",Value=bool.TrueString},
            new SelectListItem(){ Text="No, I cant come",Value=bool.FalseString }
            },"Please Select Optional", new { @class = "form-control " })



            </div>



            <br /> <br />

            <input type="submit" value="Sent Data " class="btn btn-success" />
        }
    </div>
</div>